<div class="controls">
    <button class="btn btn-block" id="mmu2s_refresh" data-test-id="mmu2s-refresh" data-bind="click: mmu2s_refresh">Refresh</button>

    <label for="mmu2s_ports">Serialport</label>
    <select id="mmu2s_ports"></select>

    <button class="btn btn-block" id="mmu2s_refresh" data-test-id="mmu2s-refresh" data-bind="click: mmu2s_connect">Connect</button>

</div>

<!--


        <label for="mmu2s_ports">Serialport</label>
        <select id="mmu2s_ports" data-test-id="connection-ports" data-bind="options: portOptions, optionsCaption: 'AUTO', value: mmu2s_selectedPort" ><option value="">1</option><option value="">2</option></select>


        <label for="mmu2s_baudrates" data-bind="css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()" class="disabled">Baudrate</label>
        <select id="mmu2s_baudrates" data-test-id="mmu2s-baudrates" data-bind="options: baudrateOptions, optionsCaption: 'AUTO', value: selectedBaudrate, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()" class="disabled" disabled=""><option value="">AUTO</option></select>

        <label class="checkbox">
            <input type="checkbox" id="connection_save" data-bind="checked: saveSettings, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()" class="disabled" disabled=""> Verbindungseinstellungen speichern
        </label>
        <label class="checkbox">
            <input type="checkbox" id="mmu2s_autoconnect" data-bind="checked: settings.serial_autoconnect, css: {disabled: !isErrorOrClosed()}, enable: isErrorOrClosed()" class="disabled" disabled=""> Automatisch bei Serverstart verbinden
        </label>



-->
